04_alpha_factor_research/.ipynb_checkpoints/
09_time_series_models/.ipynb_checkpoints/
data/.ipynb_checkpoints/
.idea/
07_linear_models/.ipynb_checkpoints/
08_ml4t_workflow/.ipynb_checkpoints/
05_strategy_evaluation/.ipynb_checkpoints/
11_decision_trees_random_forests/.ipynb_checkpoints/
08_ml4t_workflow/04_ml4t_workflow_with_zipline/.ipynb_checkpoints/
